page-promocoes {
    h2.promo_title {
        color: red;
        font-weight: bold;
    }

    img.promo_image {
        width: 50%;
        align-content: center;
        align-self: center;
        align-items:  center;
        text-align:  center;
    }
}
